################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MiddlewareServices-NAGP
/ProductAPI/bin/*
/OrderGrpc/bin/*
/ProductAPI/obj
/OrderGrpc/obj
/NotificationService2/obj
/NotificationService1/bin/*
/NotificationService1/obj
/NotificationService2/bin/*
/.vs/ProjectEvaluation
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
